*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #F3D9E4;
}

.product-h1{
    color: #CD890C ;
    margin-top: 100px;
}

.links{
    list-style: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 18px;
    transition: all 1s;
    align-self: center;
    white-space: nowrap;

}

.links:hover{
    background-color: #ff4500;
}

.links-clicked{
    background-color: #CD890C;
}